<a href="https://colab.research.google.com/github/anuradha2504/Data-Science/blob/main/Python_Programming_Basic_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
''''
1. Setup and Basic Operations:
● Install and set up Python.
● Use print() and input() functions.
● Assign values to variables and explore different data types.
'''

"'\n1. Setup and Basic Operations:\n● Install and set up Python.\n● Use print() and input() functions.\n● Assign values to variables and explore different data types.\n"

In [ ]:
# a
print('hello world')
print("Hello world")
print("Anu's address :")

hello world
Hello world
Anu's address :

In [ ]:
#assign values to variable for differnt data type
a=5
print(a)
print(type(a))
b=4.5
print(b)
print(type(b))
c="Hi"
print(c)
print(type(c))
is_spam = False
print(is_spam)
print(type(is_spam))

5
<class 'int'>
4.5
<class 'float'>
Hi
<class 'str'>
False
<class 'bool'>

In [ ]:
''''
2.List Operations:
Create a list and perform basic operations like append(), remove(), pop(), and slicing.
Iterate over a list using loops.
''''

SyntaxError: unterminated string literal (detected at line 5) (1307257475.py, line 5)

In [ ]:
#creating a list
ls = [1,2.0,False,'hello']
print(ls)
print(type(ls))

#creating a list with list function

ls1 = list([1,1,2.0,False,'hello world'])
print(ls1)
print(type(ls1))

In [ ]:
#perform basic operation on list - slicing
my_list = [1,1,5,'Hello',2.0]
print(my_list[0])
print(my_list[1:4])
print(my_list[-3:-1])
print(my_list[-3:5])

In [ ]:
#update the list value
a = [10,20,30,40,50]
print('Actual value = ', a)
a[1]=60
print('modified value = ', a)

In [ ]:
#append(), remove(), pop() in list
ls=[10,20,30,40,50]
print('actual list =' , ls)
ls.append(5)            # added at last 1 element
print('appended value =',ls)
ls.extend([6,7])        #added more element at end
print('extented value =',ls)
ls.insert(5, 20)       #extend at perticular position
print('extented value at index 5 =',ls)
ls.pop()    #remove last value
print('pop value at last without index =', ls)
ls.pop(3)   # remove from perticular index
print('pop value at index 3 =',ls)
ls.remove(20)   #remove 1st existance of given value
print('remove the value at first occurance =',ls)
ls.clear() # remove all element
print('remove all element =',ls)

In [ ]:
#Iterate over a list using loops.
l1 = [1,2,3,4,5,6,7]


for i in l1:
    print(i)

l2 = ['hindi','maths','english']

for i in l2:
    print(i)

In [ ]:
''''
3. Tuple Operations:
Create and access tuple elements.
Understand the immutability of tuples.
Use tuple unpacking.

tuple - hetrogenous,immutable, allow duplicate,ordered
tuple can be declare () or tuple()
''''

In [ ]:
t = (1,1,2.0,5,'hello',False)
t1 = tuple((10,20,30,5.0))
print(t)
print(type(t))
print(t1)
print(type(t1))

In [ ]:
#immutability of tuple
ls = (1,2.0,5,'hello',False)
ls[2] = 10
print(ls)
print(type(ls))

In [ ]:
#Use tuple unpacking.
my_tuple = (1, 2, 3)

# Convert tuple to list for updating
temp_list = list(my_tuple)
temp_list[1] = 'hello'
print(temp_list)
my_tuple = tuple(temp_list)
print(my_tuple)

# Convert tuple to list for removing
temp_list.remove(1)
my_tuple = tuple(temp_list)
print(my_tuple)

In [ ]:
a = (1,1,5,6,7,8)
print(a)
print(type(a))
print(a[0:2])

In [ ]:
'''
4. Dictionary Operations:
Create a dictionary with key-value pairs.
Perform operations like adding, updating, and deleting key-value pairs.
Iterate through a dictionary using loops.

'''

In [ ]:
'''
Dictionary
hetrogenous , Mutable, Ordered , do not allowed duplicate key
key:value mapping

can be diclare as {} or dict()
'''

In [ ]:
# Perform operations like adding, updating, and deleting key-value pairs.
my_dict ={'name':'Anu','Profession':'IT'}
print(my_dict)
my_dict['city'] ='Bangalore'
print(my_dict)

#adding new keys
my_dict['sal'] ='10000000'
print(my_dict)
# Add multiple key-value pairs at once
my_dict.update({'office': 'Delhi', 'dept': 'IT'})
print(my_dict)
my_dict.pop('city')
print(my_dict)
my_dict['city'] ='Bangalore'
print(my_dict)
del my_dict['sal']
print(my_dict)
my_dict['city'] ='Singapore'
print(my_dict)
my_dict.clear()
print(my_dict)

In [ ]:
#accessing key and value of dictionary
a = {
    'Name' : ['Abhi', 'Ajay'],
    'age' : {20,25}
}

print(a)
print(type(a))
print(a.keys())
print(a.values())
#Iterate through a dictionary using loops.

{'Name': ['Abhi', 'Ajay'], 'age': {25, 20}}
<class 'dict'>
dict_keys(['Name', 'age'])
dict_values([['Abhi', 'Ajay'], {25, 20}])

In [ ]:
#print key of dict
a = {
    'Name' : ['Abhi', 'Ajay'],
    'age' : {20,25}
}
print(a['Name'])

['Abhi', 'Ajay']

''''
5. Set Operations:
Create a set and perform operations like union, intersection, and difference.
Understand the uniqueness property of sets.

Hetrogenous

No duplicate
Mutable
not in order

declare as {} or set()

'''''*

In [ ]:
''''
5. Set Operations:
Create a set and perform operations like union, intersection, and difference.
Understand the uniqueness property of sets.

Hetrogenous
No duplicate
Mutable
not in order

declare as {} or set()

'''''

In [ ]:
s = {1,2,False,80.0}
s1 = set((1,10,False,80.0))
print(s)
print(type(s))
print(s1)
print(type(s1))

In [ ]:
#Understand the uniqueness property of sets.
# duplicate value in set
a = {1,1,3,4,4,10,20}
print(a)
print(type(a))

'''
Since duplicate value are not allowed set is extensively used in NLP problem.

''

In [ ]:
# add ,update, funxtion in set
s = {5,6,7,8}
s.add(10) # adding 1 value
print('1 value dded at end',s)
s.update([20,30]) # adding multiple value
print('more than 1 value dded at end',s)
s.remove(6)
print('set after remove the value:',s)

In [ ]:
s = {5,6,7,8}
s.pop() # adding 1 value
print('1 value dded at end',s)

'''
In pop any value can remove in case of set
'''

In [ ]:
'''
6.Conditional Statements:
Implement if-else conditions for decision-making.
Use nested if-else conditions for complex logic.
''''

In [ ]:
#Implement if-else conditions for decision-making.
#input number from user
num = float(input("enter a number : "))
if num > 0:
    print('no. is grether than 0')
elif num < 0:
    print('no. is -ve value')
else:
    print('no. is equal to  0')

In [ ]:
#Use nested if-else conditions for complex logic.
#find the highest no. in given 3 number.
num1 = float(input('enter the 1st number :'))
num2 = float(input('enter the 2nd number :'))
num3 = float(input('enter the 3rd number :'))

if num1 > num2 and num1 > num3:
    print('The gretest no. is :', num1)
elif num2 > num1 and num2 > num3:
    print('the gretest no. is',num2)
else:
    print('the gretest no. is' , num3)

enter the 1st number : 32
enter the 2nd number : 21
enter the 3rd number : 10

The gretest no. is : 32.0

'''
7.Looping Constructs:
Use for loops to iterate over lists, tuples, and dictionaries.
Use while loops for repeating tasks.
Implement break and continue statements to control loops. **bold text**

'''

In [ ]:
'''
7.Looping Constructs:
Use for loops to iterate over lists, tuples, and dictionaries.
Use while loops for repeating tasks.
Implement break and continue statements to control loops.

'''

In [ ]:
#Use for loops to iterate over lists, tuples, and dictionaries.
my_list = [1,2,3,4,5]

for i in my_list:
    print(i)
print(my_list)
print(type(my_list))

1
2
3
4
5
[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
my_tuple = (1,2,3,4,5)

for i in my_tuple:
    print(i)
print(my_tuple)
print(type(my_tuple))

1
2
3
4
5
(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
my_set = ('Hello')

for char in my_set:
    print(char)
print(my_set)
print(type(my_set))

H
e
l
l
o
Hello
<class 'str'>

In [ ]:
my_dict = {'Name':'Anu', 'Age':30, 'City':'Delhi'}
#iteration through key
print('Key values are :')
for key in my_dict:
    print(key)
#iteration through value
print('values are :')
for value in my_dict:
    print(value)
#iteration through key-value pair
for key, value in my_dict.items():
    print(key, ":", value)

Key values are :
Name
Age
City
values are :
Name
Age
City
Name : Anu
Age : 30
City : Delhi

In [ ]:
#Use while loops for repeating tasks.
i = 1
while i <= 5:
    print(i)
    i = i+1

1
2
3
4
5

In [ ]:
# Implement break and continue statements to control loops.
my_list = [10,20,30,40,5,50,60]
for i in my_list:
    print(i)
    if i == 5:
        print('Single digit number found! Exit !' )
        break # exit when single digit found

10
20
30
40
5
Single digit number found! Exit !

In [ ]:
# Implement break and continue statements to control loops.
my_list = [10,20,30,40,5,50,60]
for num in my_list:
    if num > 40:
        continue  # Skip the iteration if the number is greater than 30
    print(num)

10
20
30
40
5

In [ ]:
''''
8. Problem-SolvProblem-Solving Tasks:
    Write a Python program to find the largest number in a list.
    Write a Python program to count the frequency of elements in a list.
    Create a dictionary that stores student names as keys and marks as values, then find the student with the highest marks.
    Implement a while loop to print the Fibonacci series up to a given number.
    Use a set to remove duplicate elements from a list.
'''''

In [1]:
# Write a Python program to find the largest number in a list.
a =[30,40,100,50,10,0]

large_num = a[0]
for i in a:
    if i > large_num:
        large_num = i
print('larget number is :',large_num)
print(f'larget number is : {large_num}')

larget number is : 100
larget number is : 100

In [2]:
#Write a Python program to count the frequency of elements in a list.
num = [1,2,3,2,3,4,1,5,6,7]

frquency = {} # initialize ae empty dict to store fequency of no.

In [ ]:
#Create a dictionary that stores student names as keys and marks as values, then find the student with the highest marks.
students = {
           'Abhi': 50,
           'Asha' :80,
           'Ram' : 100
          }


print(students.keys())
print(students.values())

topper = max(students, key=students.get)
print(topper)
max_marks = max(students.values())
print(max_marks)

print('highest marks got by' ,topper)
print('Marcks :', students[topper])

dict_keys(['Abhi', 'Asha', 'Ram'])
dict_values([50, 80, 100])
Ram
100
highest marks got by Ram
Marcks : 100

In [ ]:

print("apple", "banana", "cherry", sep=" | ")

apple | banana | cherry

In [ ]:
fruits = ["apple", "banana", "cherry", "orange"]

index = 0
while index < len(fruits):
    print(f"Index {index}: {fruits[index]}")
    index += 1

Index 0: apple
Index 1: banana
Index 2: cherry
Index 3: orange

In [ ]:
person = {"name": "Alice", "age": 25, "city": "New York"}

for index, (key, value) in enumerate(person.items()):
    print(f"Index: {index}, Key: {key}, Value: {value}")

Index: 0, Key: name, Value: Alice
Index: 1, Key: age, Value: 25
Index: 2, Key: city, Value: New York

In [ ]:
person = {"name": "Alice", "age": 25, "city": "New York"}

for key, value in person.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 25
Key: city, Value: New York

 *** Implement a while loop to print the Fibonacci series up to a given number.***

In [3]:
# Input: the number up to which the Fibonacci series should be printed
n = int(input("Enter a number: "))

# Initializing the first two Fibonacci numbers
a, b = 0, 1

# Printing the Fibonacci series up to 'n'
print("Fibonacci Series up to", n, ":")
while a <= n:
    print(a, end=" ")
    a, b = b, a + b  # Update values of a and b for the next Fibonacci numbers

Enter a number: 5
Fibonacci Series up to 5 :
0 1 1 2 3 5

**Use a set to remove duplicate elements from a list.**

In [4]:
# Original list with duplicates
my_list = [1, 2, 3, 4, 5, 5, 6, 3, 4,7, 8, 9, 9]

# Convert list to a set to remove duplicates
unique_set = set(my_list)

# Convert the set back to a list
unique_list = list(unique_set)

# Print the result
print("List after removing duplicates:", unique_list)

List after removing duplicates: [1, 2, 3, 4, 5, 6, 7, 8, 9]